html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#create-sticker-pack {
    height: 100%;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #b4b4b4;
    font-size: 4px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    height: 130px;
    width: 130px;
    font-size: 14px;
    text-align: center;
    display: flex;
    border-radius: 14px;
    padding: 8px;
    box-sizing: border-box;
    color: #b4b4b4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #b4b4b4;
    transition: all 0.2s ease;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    border-color: black;
    color: black;
}

.stickers-uploader #stickers-uploader-btn {
    margin: 10px
}

* {
    box-sizing: border-box;
}

.nav-item {
    transition: all 0.2s ease;
}

.nav-item:hover {
    color: rgba(66, 98, 255, 1)
}

.name-bar {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(205, 204, 215, 1);
    padding-bottom: 8px;
    margin-bottom: 12px;
}


.name-input {
    width: 100%;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: Formular, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}

.delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    font-size: 15px;
    color: #5f5f5f;
    transition: all 0.2s ease;
    cursor: pointer;
}

.delete-btn:hover {
    color: #ae1c1c;
    transform: scale(1.1);
}